@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital@0;1&display=swap");
@import "tailwindcss";

:root {
    --bg-colour: #242424;
    --main-font: "Be Vietnam Pro", sans-serif;

    font-family: var(--main-font);
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--bg-colour);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    background-color: var(--bg-colour);
    overflow: hidden;
}

#visual-canvas {
    background-color: var(--bg-colour);
}
