@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Righteous&display=swap");
@import "tailwindcss";

:root {
    --bg-colour: #0F172A;
    --primary-color: #15B2CE;
    --main-font: "Poppins", sans-serif;
    --heading-font: "Righteous", cursive;

    font-family: var(--main-font);
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: #F8FAFC;
    background-color: var(--bg-colour);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    background-color: var(--bg-colour);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

#visual-canvas {
    background-color: var(--bg-colour);
}
